.product {
  max-width: 100%;
  height: 100vh;
  min-height: 820px;
  padding: 0 2rem;

  background: var(--gray-800);
}

.container {
  max-width: 1120px;
  height: 100vh;
  min-height: 820px;
  margin: 0 auto;
  
  display: flex;
  align-items: center;

 h1 {
   font-size: 3.5rem;
   font-weight: 800;
   max-width: 1120px;
   width: 600px;
 }
}

.content {
  width: 1120px;
  height: 600px;
  margin-top: 2rem;
}

.containerSquad {
  display: flex;
  justify-content: space-between;

  margin-top: 4rem;
}

.squad {
  width: 352px;
  height: 420px;

  img {
    border-radius: 4px;
    transition: filter 0.2s;
    
    &:hover {
      filter: brightness(1.2);
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 800;
    width: 352px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  p {
    width: 348px;
    font-weight: 500;
    line-height: 1.6875rem;
    color: var(--gray-300);
  }
}